PORT=5000
RPC_URL=https://evmrpc.0g.ai

GECKO_NETWORK=zero-gravity
GECKO_JAINE_DEX=jaine
GECKO_NETWORKS=zero-gravity,0g,zg
GECKO_JAINE_DEXES=jaine

AI_PROVIDER=openai
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_MODEL=gpt-4o-mini
SYSTEM_PROMPT=You are a professional DeFi portfolio manager...
